/* * * * * * * * * * * * *\
 * ~~ WePay Site Styles  ~~
 * * * * * * * * * * * * */

@keyframes slide-in {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 100%;
  }
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease;
  -webkit-animation-name: slide-in;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease;
}

@keyframes slide-up {
  0% {
    transform: translateY(50rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(50rem);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 100%;
  }
}

.slide-up {
  -webkit-animation-name: slide-up;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease;
}

body {
  background-image: url("/img/background_ambient.png");
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.login {
  position: relative;
  top: 20%;
  text-align: center;
}

.venmo-input {
  display: inline-block !important;
  width: 20rem !important;
  height: 5rem !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
}

.login-button {
  width: 20rem;
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.splash-text {
  font-size: 8rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s;
}


.posts {
  width: 35rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.tabs {
  display: table;
  width: 100%;
}

.tabs dd {
  display: table-cell;
  width: 50%;
  text-align: center;
  white-space: nowrap;
}

.post-list {
  list-style: none;
  margin-left: 0;
}

.post-list-item {
  display: table;
  width: 100%;
  background-color: #fff;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-bottom: 0.5rem;
}

.post-list-item:hover {
  cursor: pointer;
}

.levitate {
  transition: transform 0.25s;
  transition-timing-function: ease;
}

.levitate:hover {
  z-index: 1000;
  transform: scale(1.05, 1.05);
}

.split {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
}

.post-title {
  margin: 0;
}
