/* * * * * * * * * * * * *\
 * ~~ WePay Site Styles  ~~
 * * * * * * * * * * * * */

@keyframes slide-in {
  0% {
    transform: translateY(-5rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

body {
  background-image: url("/img/background_ambient.png");
  background-size: cover;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.login {
  position: relative;
  top: 20%;
  text-align: center;
}

.slide-in {
  animation-name: slide-in;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.venmo-input {
  display: inline-block !important;
  width: 20rem !important;
  height: 5rem !important;
  font-size: 1.5rem !important;
  text-align: center !important;
  font-family: 'Montserrat', sans-serif !important;
  animation-delay: 0.1s;
}

.login-button {
  width: 20rem;
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.splash-text {
  font-size: 8rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  animation-delay: 0.2s;
}
